# Existing entries
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor

# Additional Jekyll-related files
.bundle/
.jekyll-cache/
.jekyll-metadata
.sass-cache/
Gemfile.lock

# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# macOS thumbnails
._*

# macOS files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# macOS Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
